* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", serif;
  font-weight: 400;
  font-style: normal;
}
body .banner {
  margin-bottom: 20px;
}
body .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2rem;
  font-family: "Concert One", serif;
  font-weight: 400;
  font-style: normal;
}

header .fondoNav {
  background-color: white;
}
header .fondoNav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  margin-left: 40px;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
}
header .fondoNav a:not(#index):hover {
  animation: botonesHeader 0.5s ease forwards;
  color: white;
}
header .fondoNav a .navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}
header .fondoNav a img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@keyframes botonesHeader {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}
.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-items: center;
  padding: 20px;
}
.contenedor-grid a {
  width: 100%;
  max-width: 300px;
}
.contenedor-grid a img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50px repeat(2, 300px) 250px 100px;
  grid-template-areas: "titulo titulo titulo" "img1 texto1 texto1" "texto2 texto2 img2" "img3 texto3 texto3" "texto4 texto4 texto4";
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.grid-container h1 {
  font-family: "Concert One", serif;
  font-weight: 400;
  font-style: normal;
  grid-area: titulo;
  animation: animacionTitulo 1s ease-out;
}
.grid-container p {
  font-size: 20px;
}
.grid-container .grid-texto-1, .grid-container .grid-texto-2, .grid-container .grid-texto-3, .grid-container .grid-texto-4 {
  animation: animacionTexto 1.5s ease-out;
}
.grid-container .grid-texto-1 {
  grid-area: texto1;
}
.grid-container .grid-texto-2 {
  grid-area: texto2;
}
.grid-container .grid-texto-3 {
  grid-area: texto3;
}
.grid-container .grid-texto-4 {
  grid-area: texto4;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-top: 30px;
}
.grid-container img {
  width: 80%;
  height: 90%;
  transition: transform 0.3s ease-in-out;
  animation: animacionImagenes 1s ease-out;
}
.grid-container .grid-img-1 {
  grid-area: img1;
}
.grid-container .grid-img-2 {
  grid-area: img2;
}
.grid-container .grid-img-3 {
  grid-area: img3;
}

@keyframes animacionTitulo {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animacionTexto {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AnimacionImagenes {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
img:hover {
  transform: scale(1.1);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 18%);
  justify-content: center;
  gap: 20px;
}
.cards-container .card {
  max-width: 250px;
  width: 100%;
}
.cards-container .card .color-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.cards-container .card .color-btn:hover {
  animation: botonComprar 0.5s ease forwards;
  color: white;
}

@keyframes botonComprar {
  0% {
    background-color: black;
  }
  100% {
    background-color: gray;
  }
}
.reviews-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.reviews-container .review-card {
  width: 22%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: cardsReviews 0.8s ease-out forwards;
  position: relative;
}
.reviews-container .review-card .card {
  padding: 15px;
}
.reviews-container .review-card .card h5 {
  margin-bottom: 15px;
}
.reviews-container .review-card .card p {
  margin-bottom: 10px;
}

@keyframes cardsReviews {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.form-container {
  text-align: center;
  color: black;
  background-color: #ffffff;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  position: relative;
  margin: 50px auto;
}
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
.form-container form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: center;
}
.form-container form input textarea select {
  display: block;
  margin: 0 auto 15px auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  text-align: center;
}
.form-container form button {
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin: 10px 0;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.form-container form button:hover {
  animation: botonEnviar 0.5s ease forwards;
  color: white;
}
.form-container form .color-rating {
  color: black;
}

@keyframes botonEnviar {
  0% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: grey;
    color: white;
  }
}
footer .logo-container {
  display: block;
  background-color: black;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}
footer .logo-container p {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  width: 100%;
}
footer .logo-container a {
  display: inline-block;
}
footer .logo-container a img {
  border-radius: 50%;
}
footer .logo-container a .img-redes, footer .logo-container a .facebook-img, footer .logo-container a .instagram-img {
  width: 50px;
  height: 50px;
}
@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
  header a {
    margin-bottom: 10px;
  }
  header a img {
    width: 80px;
    height: 80px;
  }
  .banner {
    margin-bottom: 10px;
  }
  .contenedor-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
  .contenedor-grid a {
    max-width: 90%;
  }
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  h2 .subtitulo {
    font-size: 1rem;
  }
  .form-container {
    width: 80%;
    margin: 20px auto;
  }
  .cards-container {
    grid-template-columns: repeat(2, 45%);
    gap: 10px;
  }
  .cards-container .card {
    max-width: 200px;
  }
  .cards-container .card .color-btn {
    font-size: 10px;
    width: auto;
  }
  .reviews-container {
    flex-direction: column;
    align-items: center;
  }
  .reviews-container .review-card {
    width: 90%;
    margin-bottom: 10px;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "texto1" "img1" "texto2" "img2" "texto3" "img3" "texto4";
    padding: 10px;
    grid-gap: 50px;
  }
  .grid-container p {
    width: 90%;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .grid-container img {
    width: 80%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .grid-container img :hover {
    transform: scale(1.1);
  }
  footer {
    padding-top: 10px;
  }
  footer .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  footer .logo-container p {
    display: none;
  }
  footer .logo-container .instagram-img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  footer .logo-container .facebook-img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
}
@media (min-width: 501px) {
  .navbar-toggler {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
