
//grid de index
.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    justify-items: center;
    padding: 20px;
    a {
        width: 100%;
        max-width: 300px;
        img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    }
}


//grid de about
.grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50px repeat(2,300px) 250px 100px;
    grid-template-areas: 
    "titulo titulo titulo"
    "img1 texto1 texto1"
    "texto2 texto2 img2"
    "img3 texto3 texto3"
    "texto4 texto4 texto4";
    justify-content: center;
    align-items: center;
    justify-items: center;
    h1 {
        font-family: "Concert One", serif;
        font-weight: 400;
        font-style: normal;
        grid-area: titulo;
        animation: animacionTitulo 1s ease-out;
      }
    p {
        font-size: 20px;
    }
    .grid-texto-1, .grid-texto-2, .grid-texto-3, .grid-texto-4 {
        animation: animacionTexto 1.5s ease-out;
    }
    .grid-texto-1 {
        grid-area: texto1;
    }
    .grid-texto-2 {
        grid-area: texto2;
    }
    .grid-texto-3 {
        grid-area: texto3;
    }
    .grid-texto-4 {
        grid-area: texto4;
        justify-self: center;
        align-self: center;
        text-align: center;
        margin-top: 30px;
    }
    img {
        width: 80%;
        height: 90%;
        transition: transform 0.3s ease-in-out;
        animation: animacionImagenes 1s ease-out;
    }
    .grid-img-1 {
        grid-area: img1;
    }
    .grid-img-2 {
        grid-area: img2;
    }
    .grid-img-3 {
        grid-area: img3;
    }
  }

  //animaciones
  @keyframes animacionTitulo {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animacionTexto {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes AnimacionImagenes {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

//zoom a las imagenes
img:hover {
    transform: scale(1.1);  
}